/*上传图片插件的样式*/
.full { width: 1210px; min-width: 1210px; margin: 0 auto; }
.fl { float: left; }
.fr { float: right; }
.clear:after { content: ''; display: block; clear: both; }
.full-big { width: 1340px; min-width: 1340px; margin: 0 auto; }
.img-full { display: block; width: 100%; }
.img-box { }
.img-box .up-p { margin-bottom: 20px; font-size: 16px; color: #555; }
.z_photo { }
.z_photo .z_file { display: inline-block; position: relative; }
.z_file  .file { width: 100%; height: 100%; opacity: 0; position: absolute; top: 0px; left: 0px; z-index: 100; }
.z_photo .up-section { position: relative; }
.up-section .close-upimg { position: absolute; top: 6px; right: 8px; display: none; z-index: 10; }
.up-section .up-span { display: inline-block; width: 100%; height: 100%; visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 9; background: rgba(0, 0, 0, .5); }
.up-section:hover { }
.up-section:hover .close-upimg { display: block; }
.up-section:hover .up-span { visibility: visible; border-radius: 16px; }
.z_photo .up-img { display: inline-block; width: 260px; height: 180px; }
.loading { border: 1px solid #D1D1D1; background: url(../images/loading.gif) no-repeat center; }
.up-opcity { opacity: 0; }
.img-name-p { display: none; }
.upimg-div { text-align: center; }
.upimg-div .up-section { display: inline-block; width: 260px; height: 180px; }
.upimg-div .up-section .up-img { border-radius: 16px; border: 2px solid transparent; }
.identity-box:last-child .upimg-div .up-section:nth-child(n+2) { margin-left: 20px; }
.img-box .upimg-div { margin: 0 -10px; text-align: center; }
.img-box .upimg-div .z_file { display: inline-block; margin: 0 10px; }
.z_file .add-img { display: block; width: 260px; height: 180px; border-radius: 16px; border: 2px dashed #ccc; }

/*遮罩层样式*/
.mask { z-index: 1000; display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, .4); }
.mask .mask-content { width: 400px; position: absolute; top: 50%; left: 50%; margin-left: -200px; margin-top: -80px; background: white; text-align: center; }
.mask .mask-content .del-p { color: #000; padding: 45px 0; font-size: 14px; text-align: center; }
.mask-content .check-p { height: 46px; line-height: 46px;}
.mask-content .check-p span { width: 50%; display: inline-block; text-align: center; font-size: 1.1em; border:0; }
.mask-content .check-p span { background: #eee; color: #B19270; cursor: pointer; }
.mask-content .check-p span:hover { background: #fff }
.mask-content .check-p span+span { background: #C6A47F; color: #fff; }
.mask-content .check-p span+span:hover { background: #B19270 }
.check-p .del-com { border-right: 1px solid #D1D1D1; }
.nav_identity { text-align: center; }
.nav_identity ul { padding: 0; margin: 20px 0; list-style: none; }
.nav_identity ul li { display: inline-block; padding-right: 20px; line-height: 50px; }
.identity-box { display: none; }
.identity-btn { text-align: center; }
.identity-btn .btn { width: 260px; text-align: center; }
.activeTag { border-bottom: 2px solid #C6A47F; }
.identity-btn a { padding: 5px; display: inline-block; width: 50px; }