
/*Standard Elements*/

.card_top_wrap {
  width:980px;
  height:82px;
  border-left:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  background-color:#f2f4f7;
}
.card_info {
  width:335px;
  line-height:normal;
  position:relative;
  padding:15px 0px 0px 15px;
  float:left;
}
.card_image {
  width:52px;
  height:52px;
  border:1px solid;
  background:#fff;
  position:relative;
  float:left;
/*  left:0;
  top:0;*/
}
.card_title{
  float:left;
  position:relative;
  margin-left:15px;
  margin-top:5px;
  height:40px;
  overflow:auto;
}

.card_title_name{
  float:left;
  font-size:20px;
  margin-top:5px;
  color: #000;
}
.card_num_wrap{
    float:left;
    position:relative;
    margin-top: 15px;
    margin-left:5px;
    /*margin-left: 10px;*/
}
.card_num_label{
  font-size:12px;
  position:relative;
  margin-left:8px;
  float:left;
  color:#AAA;
}
.card_num{
  position:relative;
  margin-left:5px;
  float:left;
  color:#ff7f3e;
  /*margin-right:15px;*/
}

.card_button_wrap {
  position:relative;
  float:left;
  padding-left:5px;
  padding-top:25px;
  height:50px;
  font-size:18px;
}

.card_slogan {
  color: #4c4c4c;
  font-size: 14px;
  float: left;
  padding-right: 30px;
  position: relative;
  max-width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post_item_wrap {
  width:980px;
  word-wrap:break-word;
  overflow:hidden;
  padding:20px 0 0;
  border-top:dotted 1px #ccc;
}
.post_item {
  margin-bottom:10px;
  background:#fff;
}
.post_item_left_wraper {
  float:left;
  width:48px;
  height:100px;
  margin-right:20px;
}
.post_user_face {
  width:48px;
  height:48px;
  overflow:hidden;
}
.post_reply_count_wraper {
  width:45px;
  height:22px;
  margin-top:1px;
  text-align:center;
  padding: 5px;
}
.post_reply_count {
  width: auto;
  font-size: 14px;
  color: #698ebf;
  display: inline-block;
  border-radius: 3px;
  border: 1px;
  cursor: pointer;
  background: #eff6fa;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.post_content_wrap {
  float:none;
  width:auto;
  overflow:hidden;
  zoom:1;
}
.post_title {
  font-size:14px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:600px;
  float:left;
  font-color:blue;
}
.post_title_font {
  color:#259;
}
.post_content {
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666
}
.post_content_char {
  margin-top:5px;
  font-size:12px;
}
.poster_container {
  width:980px;
  border-left:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  background-color:#f2f4f7;
  text-align:left;
  padding-left:20px;
  overflow:auto;
}
.poster_header {
  margin:20px 0 0 0;
  height:20px;
}

.poster_header_info {
  margin-left:20px;
  font-size: 14px;
  float: left;
}

.poster_title {
  background-color:#f2f4f7;
  text-align:left;
  height:30px;
  padding:20px 0 0 0;
}
.poster_content {
  text-align:left;
  background-color:#f2f4f7;
  height:300px;
  padding:20px 0 0 0;
}
.poster_publish_container {
  text-align:left;
  background-color:#f2f4f7;
  height:50px;
}
