<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>金融岛-打开财富之门</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="bookmark" href="../images/favicon.ico" >
    <link rel="shortcut icon" href="../images/favicon.ico" />
</head>

<body>

{% include 'commons/body_top.html' %}
<div id="body">
    <div class="container ">
        <div class="cards page">
            <div class="mian-container">
                <input name="type" type="hidden" value="shequ">
                <div id="community_header" class="community-header">
                    {%if community.create_user_id == session.get('userinfo')['id'] %}
                    <div class="img im">
                        <a href="#photo" data-toggle="modal"><img alt="{{community.name}}岛" src="{{community.head_img_url}}"></a>
                        <input name="from" type="hidden" value="shequ">
                    </div>
                    {%else%}
                     <div class="img">
                        <a href="javascript:void(0)"><img alt="{{community.name}}岛" src="{{community.head_img_url}}"></a>
                     </div>
                    {%endif%}
                    <div class="content">
                        <h4 class="hname"><span>{{community.name}}</span>岛
                            {%if community.create_user_id == session.get('userinfo')['id'] %}
                            <a href="#modal-community" data-toggle="modal"><i class="icon-edit"></i></a>
                            {%endif%}
                        </h4>
                        <p class="pdesc">{{community.describe}}</p>
                        <div class="block-bar">
                            <div class="row-1x">
                                <div class="group-span-1x">
                                    <span><em>帖子</em><b class="comm_post_num">{{community.post_num}}</b></span>
                                    <span><em>成员</em><b class="comm_user_num">{{community.user_num}}</b></span>
                                    {% if create_user %}
                                    <span><em>岛主</em><b class="community_owner"><a href="http://social.jinrongdao.creditease.cn/user_info_post?user_id={{create_user.id}}"> {{create_user.name}}</a></b></span>
                                        {% if create_user.is_approve==1%}
                                            <span title="个人认证" class="mark-i s v"><i class="icon-v"></i></span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-control">
                        {%if has_join%}
                        <a id="join" href="javascript:void(0)" class="btn btn-primary hide"><i>+</i>入岛</a>
                            {%if community.owner_user_id != session.get('userinfo')['id']%}
                            <a id="left" href="javascript:void(0)" class="btn btn-primary"><i></i>离岛</a>
                            {%endif%}
                        {%else%}
                        <a id="join" href="javascript:void(0)" class="btn btn-primary"><i>+</i>入岛</a>
                        <a id="left" href="javascript:void(0)" class="btn btn-primary hide"><i></i>离岛</a>
                        {%endif%}
                    </div>
                </div>
                <div class="divider solid"></div>
                <div class="media-content post-list">
                </div>
                <div class="blk-2x"></div>
                <ul id="page" class="pagination" maxshowpageitem="5" >
                </ul>
                <div class="post-input ">
                    <h4>发新贴</h4>
                    <input type="hidden" id="submit" value="true">
                    <input type="hidden" id="token" value="{{session.get('token')}}">

                    <input onfocus="remove_match()" id="post_title" class="post-title-input" type="text" placeholder="标题" />
                    <div class="post-suggest-container hide">
                    <div class="post-suggest">
                        <div class="item">
                            <div class="heading">类似的帖子</div>
                            <div class="body">
                                <ul class="s-community match-post">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'commons/common.html' %}
                {% include 'input.html' %}
                </div>
            </div>
            <div class="side-container">
                <div class="section heading"><h4>您可能感兴趣的岛,遛遛吧...</h4></div>
            </div>
        </div>
    </div>
</div>
<div></div>
{% include 'commons/footer.html' %}
<div class="modal modal-book-content" id="modal-community" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-md">
        <div class="modal-content radius-none"><a class="close" aria-hidden="true" type="button"
                                                  data-dismiss="modal">×</a>
            <div class="modal-body clearfix relative">
                <div class="form-inline">
                    <div class="form-group ">
                        <input type="text" class="form-control" name="community-name" value="{{community.name}}">
                    </div>
                    <div class="form-group ">
                        <textarea name="community-desc"
                                  class="form-control">{{community.describe}}</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="justified2-2">
                    <li>
                        <button class="btn btn-default btn-lg btn-block" data-dismiss="modal">取消</button>
                    </li>
                    <li>
                        <button id="update-community" class="btn btn-primary btn-lg btn-block">确定</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
{%if community.create_user_id == session.get('userinfo')['id'] %}
{% include 'commons/upload_image.html' %}
{%endif%}
<script>
   var community_id = {{community.id}};
</script>
<script src="../lib/js/page/page.js"></script>
<script src="../lib/js/community.js"></script>
</body>
</html>


