<!--表情-->
<textarea class="textarea-control" rows="3" operate-type="emoji" placeholder="" data-emojiable="true"></textarea>
<div class="btn-toolbar-emoji" >
    <a><span class="emotion"></span></a>
    <input type="hidden" class="rid">
    <input type="hidden" class="cid">
    <div class="pull-right">
       <button id="huifu-btn" class="btn huifu-btn" onclick="summitHuifu()" href="javascript:void(0)">提交</button>
    </div>
</div>
<style>
#emoji{
    border: 1px solid #E3DFD9;
    outline-style: none;
}
.comment-reply-box{
    padding:0 0 0 40px;
    position:relative;
}
.btn-toolbar-emoji{
    margin-top:5px; border:none;width:100%;height:25px;font-size:18px;
}
#emoji:hover{
    border-color: #C6A47F;
    outline-style: none;
}
</style>




