<html>
<head>
    <meta charset="utf-8">
    <title>金融岛-打开财富之门</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="bookmark" href="../images/favicon.ico">
    <link rel="shortcut icon" href="../images/favicon.ico"/>
    <link rel="stylesheet" href="../stylesheets/core.css"/>
    <link rel="stylesheet" href="../stylesheets/iconfont.css"/>
</head>

<body>
<div id="body ">
    <div class="container ">
        <div class="empty">
            <span><img src="../images/empty-community.png"></span>
            <h3>你要查看的页面,不小心弄丢了,不如去<span><a href="http://social.jinrongdao.creditease.cn/index">首页</a></span>看看吧</h3>
        </div>
    </div>
</div>
</body>
</html>
