<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>金融岛-打开财富之门</title>
    <link rel="bookmark" href="../images/favicon.ico" >
    <link rel="shortcut icon" href="../images/favicon.ico" />
</head>

<body>
    {% include 'commons/body_top_mobile.html' %}
    <div id="body">
        <div class="container">
                <ul class="base-tab message-nav" id="message_ul">
                    <li  id="li_message_follow">
                        <a href="javascript:void(0)" data-toggle="tab" onclick="getMessage(1)">关注
                        {% if count_guanzhu %}
                            <span class="circle_sm">{{count_guanzhu}}</span>
                        {% endif %}
                        </a>
                    </li>
                    <li  id="li_message_do_good">
                        <a href="javascript:void(0)" data-toggle="tab" onclick="getMessage(2)">赞
                        {% if count_do_good %}
                            <span class="circle_sm">{{count_do_good}}</span>
                        {% endif %}
                        </a>
                    </li>
                    <li id="li_message_reply">
                        <a href="javascript:void(0)" data-toggle="tab"  onclick="getMessage(3)">回复
                        {% if count_comment %}
                            <span class="circle_sm">{{count_comment}}</span>
                        {% endif %}
                        </a>
                    </li>
                    <li id="li_message_comment">
                        <a href="javascript:void(0)" data-toggle="tab" onclick="getMessage(4)">评论
                        {% if count_reply %}
                            <span class="circle_sm">{{count_reply}}</span>
                        {% endif %}
                        </a>
                    </li>
                </ul>

            <div class="cards page" >
                <div class="mian-container c">
                    <div class="blk-1x"></div>
                    {% if message_type==4 %}
                    <div class="tab-pane message media active" id="m4">
                        {% if unread_num>0 and no==1 %}
                        <div class="unread_mess_list col-sm-12">您有<span style="color:red;">{{unread_num}}</span>条未读消息</div>
                        {% for message in unread_list %}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.comment.user.id}}"><img src="{{message.comment.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="/user_info_post?user_id={{message.comment.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span>
                                </div>
                                <p>{{message.comment.content|safe}}</p>
                            </div>
                            <div class="blockquote">
                                {% if message.comment.parent %}
                                <a  href="/post?id={{message.post_id}}&type=postInfo&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}"><span class="text-muted">{{message.comment.parent.user.name}}：</span>{{message.comment.parent.content|safe}}</a>
                            {% else %}
                                <a  href="/post?id={{message.post_id}}&type=postInfo&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}"><span class="text-muted">{{message.reply.user.name}}：</span>{{message.reply.content|safe}}</a>
                                {%endif%}
                            </div>
                        </div>
                        {% endfor %}
                        {%endif%}
                        {% if read_num > 0 %}
                            <div class="read_mess_list col-sm-12">已读消息</div>
                        {%elif unread_num==0 and read_num==0%}
                            <div class="read_mess_list col-sm-12"><div class="empty"><span><img src="../images/empty-msg.png"></span></div></div>
                        {%endif%}
                        {% for message in read_list %}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.comment.user.id}}"><img src="{{message.comment.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="/user_info_post?user_id={{message.comment.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span>
                                </div>
                                <p>{{message.comment.content|safe}}</p>
                            </div>
                            <div class="blockquote">
                                {% if message.comment.parent %}
                                <a  href="/post?id={{message.post_id}}&type=postInfo&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}"><span class="text-muted">{{message.comment.parent.user.name}}：</span>{{message.comment.parent.content|safe}}</a>
                            {% else %}
                                <a  href="/post?id={{message.post_id}}&type=postInfo&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}"><span class="text-muted">{{message.reply.user.name}}：</span>{{message.reply.content|safe}}</a>
                                {%endif%}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="blk-2x"></div>
                        <ul class="pagination">
                        </ul>
                    </div>
                    {% endif %}
                    {% if message_type==2 %}
                    <div class="tab-pane message media active" id="m2">
                        {% if unread_num>0 and no==1 %}
                        <div class="unread_mess_list col-sm-12">您有<span style="color:red;">{{unread_num}}</span>条未读消息</div>
                        {% for message in unread_list%}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.user.id}}"><img src="{{message.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="/user_info_post?user_id={{message.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span>
                                </div>
                            </div>
                            <div class="blockquote"><span class="text-muted">赞了你的回帖：</span>
                                <a class="comm-font-color" href="/post?id={{message.post_id}}&type=postInfo#here_{{message.reply_id}}" id="CM_content_{{message.id}}">{{message.reply.content|safe}}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if read_num > 0 %}
                            <div class="read_mess_list col-sm-12">已读消息</div>
                        {%elif unread_num==0 and read_num==0%}
                            <div class="read_mess_list col-sm-12"><div class="empty"><span><img src="../images/empty-msg.png"></span></div></div>
                        {%endif%}
                        {% for message in read_list %}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.user.id}}"><img src="{{message.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="/user_info_post?user_id={{message.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span>
                                </div>
                            </div>
                            <div class="blockquote"><span class="text-muted">赞了你的回帖：</span>
                                <a class="comm-font-color" href="/post?id={{message.post_id}}&type=postInfo#here_{{message.reply_id}}" id="CM_content_{{message.id}}">{{message.reply.content|safe}}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="blk-2x"></div>
                        <ul class="pagination">
                        </ul>
                    </div>
                    {% endif %}
                    {% if message_type==3 %}
                    <div class="tab-pane message media active" id="m3">
                        {% if unread_num>0 and no==1 %}
                        <div class="unread_mess_list col-sm-12">您有<span style="color:red;">{{unread_num}}</span>条未读消息</div>
                        {% for message in unread_list%}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.user.id}}"><img src="{{message.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="/user_info_post?user_id={{message.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span>
                                </div>
                                 <p>{{message.reply.content|safe}}</p>
                            </div>
                            <div class="blockquote"><span class="text-muted">回复了您的帖子：</span>
                                <a class="comm-font-color col-sm-12" href="/post?id={{message.post_id}}&type=postInfo#here_{{message.reply_id}}"
                                id="CM_content_{{message.id}}">{{message.post.content|safe}}</a>
                            </div>
                        </div>
                        {% endfor %}
                        {%endif%}
                        {% if read_num > 0 %}
                            <div class="read_mess_list col-sm-12">已读消息</div>
                        {%elif unread_num==0 and read_num==0%}
                            <div class="read_mess_list col-sm-12"><div class="empty"><span><img src="../images/empty-msg.png"></span></div></div>
                        {%else%}
                        {%endif%}
                        {% for message in read_list%}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.user.id}}"><img src="{{message.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="/user_info_post?user_id={{message.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span>
                                </div>
                                 <p>{{message.reply.content|safe}}</p>
                            </div>
                            <div class="blockquote"><span class="text-muted">回复了您的帖子：</span>
                                <a class="comm-font-color col-sm-12" href="/post?id={{message.post_id}}&type=postInfo#here_{{message.reply_id}}"
                                id="CM_content_{{message.id}}">{{message.post.content|safe}}</a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="blk-2x"></div>
                        <ul class="pagination">
                        </ul>
                    </div>
                    {% endif %}
                    {%if message_type==1%}
                    <div class="tab-pane message media active" id="m1">
                        {% if unread_num>0 and no==1 %}
                        <div class="unread_mess_list col-sm-12">您有<span style="color:red;">{{unread_num}}</span>条未读消息</div>
                        {% for message in unread_list%}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.user.id}}"><img src="{{message.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar followed">
                                    <a href="/user_info_post?user_id={{message.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span><span class="p">关注了您</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {%endif%}
                        {% if read_num > 0 %}
                            <div class="read_mess_list col-sm-12">已读消息</div>
                        {%elif unread_num==0 and read_num==0%}
                            <div class="read_mess_list col-sm-12"><div class="empty"><span><img src="../images/empty-msg.png"></span></div></div>
                        {%endif%}
                        {% for message in read_list%}
                        <div class="item">
                            <div class="photo"><a href="/user_info_post?user_id={{message.user.id}}"><img src="{{message.user.head_img_url}}"></a></div>
                            <div class="content">
                                <div class="block-bar followed">
                                    <a href="/user_info_post?user_id={{message.user.id}}"><span>{{message.user.name}}</span></a><span class="offset-1x">{{message.create_time}}</span><span class="p">关注了您</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="blk-2x"></div>
                        <ul class="pagination">
                        </ul>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

    {% include 'user_info_modify.html' %}
    {% include 'commons/footer.html' %}
    <script src="lib/jquery.twbsPagination.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var message_type = $('#messagetype').val();
        function clearAllClassInUl() {
            var ul_target=document.getElementById("message_ul");
            var li_list = ul_target.getElementsByTagName("li");
            for (var i=0;i<li_list.length;++i){
              li_list[i].className="";
            }
        }
        function post(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "get";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
        }
        function getMessage(type_param){
        pageNo=1;
        pageSize=10;
        message_type=type_param;
        type="query";

        var url = "/message?type="+type+"&message_type="+message_type+"&no=" + pageNo + "&size=" + pageSize;
        console.debug("pageurl:", url);
        post("/message",{"type":type,"message_type":message_type,"no":pageNo,"size":pageSize});
        }
        {%if message_type==1%}
           clearAllClassInUl();
           document.getElementById("li_message_follow").className="active";
        {%elif message_type==2%}
           clearAllClassInUl();
           document.getElementById("li_message_do_good").className="active";
        {%elif message_type==3%}
           clearAllClassInUl();
           document.getElementById("li_message_reply").className="active";
        {%elif message_type==4%}
           clearAllClassInUl();
           document.getElementById("li_message_comment").className="active";
        {%endif%}
        var pageNo = {{no}};
        var pageSize = {{size}};
        var totalCount = {{total_size}};
        var totalPages = Math.ceil(totalCount/pageSize);
        if (totalCount>0){
            $('.pagination').twbsPagination({
                startPage: pageNo,
                totalPages: totalPages,
                first: '首页',
                prev: '前一页',
                next: '下一页',
                last: '末页',
                onPageClick: function (evt, page) {
                    if (page == pageNo) {
                        console.debug("current page number clicked, do nothing.");
                        return;
                    }
                    var url = "message?type=query&message_type="+{{message_type}} + "&no=" + page + "&size=" + pageSize;
                    console.debug("pageurl:", url);
                    window.location.href = url;
                }
            });
        }
    </script>

</body>
</html>
<style type="text/css">
.container {
    width:100%;
    padding: 0 30px 30px 30px;
}
</style>
