<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>金融岛-打开财富之门</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="bookmark" href="../images/favicon.ico">
    <link rel="shortcut icon" href="../images/favicon.ico"/>
    <link rel="stylesheet" href="../stylesheets/core.css"/>
    <link rel="stylesheet" href="../stylesheets/iconfont.css"/>
</head>

<body>
<div class="divider solid "></div>
<div id="body ">
    <div class="container ">
        <div class="blk-2x"></div>
        <div class="divider solid "></div>
        <div class="cards user-form">
            <div class="box-sm pull-right">
                <div class="blk-6x"></div>
                <div class="heading"><span>注册新用户</span></div>
                <form name="form">
                    <div class="form-group">
                        <input type="text" id="user_mobile_phone_input" placeholder="手机号" class="form-control"
                               onfocus="onInput()"
                               onblur="check_mobile_register()"/>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="验证码" id="user_mobile_verify_code_input"
                                   class="form-control">
                            <div class="input-group-btn">
                                <button id="button_send_sms_code" type="button" onclick="sendCodeReg()" onfocus="onInput()"
                                        class="btn btn-default">发送验证码
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" onfocus="onInput()" placeholder="密码长度不少于6位" id="user_password_input"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" onfocus="onInput()" placeholder="再次输入密码" id="user_password_input_repeat"
                               onblur="check_password_and_repeat()"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" onclick="return regist()" class="btn btn-md btn-primary btn-block">注册
                        </button>
                    </div>
                    <small class="pull-right"><a href="/forget_password" class="text-info">忘记密码？</a></small>
                    <small>已有帐号？<a href="/login">马上登录</a></small>
                    <div class="blk-2x"></div>
                    <div class="text-danger" id="msg"></div>
                    <div class="blk-6x"></div>
                </form>
            </div>
            <div class="divider solid "></div>
        </div>
    </div>
</div>
{% include 'commons/footer.html' %}
<script src="../lib/jquery-1.8.1.min.js "></script>
<script src="../lib/js/register.js "></script>
</body>
</html>
