{% if view_user_info and session.get('userinfo') and  session.get('userinfo')['id']==view_user_info.id %}
<div class="modal modal-book-content" id="modal-user" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-md">
        <div class="modal-content radius-none"> <a class="close" aria-hidden="true" type="button" data-dismiss="modal">×</a>
            <div class="modal-body clearfix relative">
                <div class="form-inline">
                    <div class="form-group">
                       <input type="text" placeholder="昵称" onfocus="inputFocus()" class="form-control" id="input_user_name" value="{{view_user_info.name}}">
                    </div>
                    <div class="form-group">
                        <textarea name=""  placeholder="个人简介" onfocus="inputFocus()" id="text_user_label" class="form-control">{{view_user_info.label}}</textarea>
                    </div>
                    {% if view_user_info and view_user_info.is_approve==2%}
                    <div class="form-group">
                        {% if view_user_info.shop_url%}
                        <textarea name=""  placeholder="店铺地址" onfocus="inputFocus()" id="text_user_shop" class="form-control">{{view_user_info.shop_url}}</textarea>
                        {%endif%}
                        {% if not view_user_info.shop_url%}
                        <textarea name=""  placeholder="店铺地址" onfocus="inputFocus()" id="text_user_shop" class="form-control"></textarea>
                        {%endif%}
                    </div>
                    {%endif%}
                    <div class="form-group">
                        <div class="text-danger" id="msg"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="justified2-2">
                    <li>
                        <button class="btn btn-default btn-lg btn-block" data-dismiss="modal">取消</button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-lg btn-block" onclick="save_user_info()">确定</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 var userName ='';
 var shop_url = '';
{% if view_user_info %}
    userName = '{{view_user_info.name}}';
    {% if view_user_info.shop_url %}
        shop_url = '{{view_user_info.shop_url}}';
    {%endif%}
{%endif%}
    function save_user_info(){
        var user_name = $("#input_user_name").val();
        if (user_name.trim().length>20){
             document.getElementById('msg').innerHTML='昵称不能超过20个字符!'
            return;
        }
        if (user_name.trim()==''){
             document.getElementById('msg').innerHTML='昵称不能为空!';
            return;
        }
        var user_label = $("#text_user_label").val();
        if (user_label.length>50){
            document.getElementById('msg').innerHTML='简介字数不能超过50个字!';
            return;
        }
        if (user_label.trim()==''){
            document.getElementById('msg').innerHTML='简介不能为空!';
            return;
        }

        var data={};
        data['user_name']=user_name.trim();
        data['user_label']=user_label.trim();
        if($('#text_user_shop').length>0){
            data['shop_url']=$('#text_user_shop').val().trim();
        }
        $.ajax({
                 type:'POST',
                 url:'/update_user',
                 data:data,
                 dataType:'json',
                 timeout:5000,
                 success:function(data) {
                        if(data.result==0){
                            userName=user_name.trim();
                            if($('#text_user_shop').length>0){
                                shop_url=$('#text_user_shop').val().trim();
                            };
                            $('#modal-user').modal('toggle');
                            window.location.reload();
                        }else{
                            console.log('保存失败!')
                        }
                 },
                 error:function(xhr,type){
                     console.log('保存失败!')
                 }
        })

    }
   function inputFocus(){
      document.getElementById('msg').innerHTML='';
   }
   <!--模式框打开时,清理数据-->
   $('#modal-user').on('hide.bs.modal', function () {
      $("#input_user_name").val(userName);
      $("#text_user_label").val($('#p_user_label').text().trim());
      $("#text_user_shop").val(shop_url);
   })
</script>
{% endif %}
