<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>金融岛-打开财富之门</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="bookmark" href="../images/favicon.ico" >
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../stylesheets/core.css"/>
    <link rel="stylesheet" href="../stylesheets/iconfont.css"/>
</head>

<body>
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards user-form">
            <div class="box-sm pull-right">
                <div class="blk-6x"></div>
                <div class="heading"><span>欢迎来到金融岛！</span></div>
                <!--
                <p>完善信息，让他人更好的认识你</p>
                -->
                 <div class="blk-1x"></div>
                 <form name="form">

                    <div class="form-group">
                        <input type="text" placeholder="昵称" id="user_name_input"  onblur="return check_user_name()" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="" placeholder="个人简介" id="user_label_input"  class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="return fill_user_info()" class="btn btn-md btn-primary btn-block">确定</button>
                    </div>
                   
                 </form>
                 <span class="pull-right"><a href="/index"><font size="3" color="663366"><strong>以后再说</strong></font></a></span>
                 <div class="blk-2x"></div>
                 <div class="text-danger" id="msg"></div>
                 <div class="blk-6x"></div>
            </div>
            <div class="divider solid "></div>
        </div>
    </div>
    </div>
    {% include 'commons/footer.html' %}
</body>
<script src="../lib/jquery-1.8.1.min.js "></script>
<script type="text/javascript">
  function check_user_name() {
    var name=document.getElementById('user_name_input').value;
    data={};
    data['name']=name;
    data['type']='check_user_name';
    $.ajax({
      type:'POST',
      url:'/check_user_name',
      data:data,
      dataType:'json',
      success:function(data) {
        if (data['succ'] != 0) {
          document.getElementById('msg').innerHTML="该用户名已经被占用，请换一个:)";
        } else {
          document.getElementById('msg').innerHTML="";
        }
      },
      error:function(xhr,type){
        console.log('用户名验证没有返回结果');
      }
    });
    return false;
  }
  function fill_user_info() {
    var name= document.getElementById("user_name_input").value;
    var label = document.getElementById("user_label_input").value;
    if (name == "") {
        document.getElementById('msg').innerHTML="请输入名字(昵称)";
        return false;
    }
    if (label == "") {
        document.getElementById('msg').innerHTML="请输入简介";
        return false;
    }
    var data={};
    data['type']='modify';
    data['name']=name;
    data['label']=label;
    {% if session.get('userinfo') %}
    data['mobile']={{session.get('userinfo')['mobile']}};
    {% endif %}
    $.ajax({
        type:'POST',
        url:'/modify_user',
        data:data,
        dataType:'json',
        success:function(data) {
            window.location.href="/index";
        },
        error:function(xhr,type) {
            alert('create user fail!');
        }
    });
    return false;
  }
</script>

</html>
