<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>金融岛-打开财富之门</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="bookmark" href="../images/favicon.ico" >
    <link rel="shortcut icon" href="../images/favicon.ico" /> 
</head>

<body>
    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body">
        <div class="container ">
            <div class="cards page">
             {% include 'user_info_side_right.html' %}
                <div class="mian-container r">
                    <div class="blk-1x"></div>
                    <div class="user-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if session.get('userinfo')['id']==view_user_info.id %}
    {% include 'user_info_modify.html' %}
    {%endif%}
    {% include 'commons/footer.html' %}
    <script src="../lib/js/user.js"></script>
    <script type="text/javascript" charset="utf-8">
        var pageNo = 1;
        var pageSize = 20;
        var totalCount = 0;
        var has_next = false;
        get_user_friend(pageNo);
        $(window).scroll(function(event){
            var wScrollY = window.scrollY; // 当前滚动条位置
            var wInnerH  = window.innerHeight; // 设备窗口的高度（不会变）
            var bScrollH = document.body.scrollHeight; // 滚动条总高度
            if (wScrollY + wInnerH + 20 >= bScrollH) {
                console.log('111')
                if(has_next){
                    pageNo++;
                    get_user_friend(pageNo);
                    console.log("到底了.");
                }
            }
        });
    </script>
</body>
</html>
