<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>金融岛用户认证</title>
    <link rel="bookmark" href="../images/favicon.ico" >
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link href="stylesheets/identity.css" type="text/css" rel="stylesheet"/>
</head>
<body>
{% include 'commons/body_top_mobile.html' %}
    <div class="divider solid "></div>
    <div id="body">
        <div class="container ">
            <div class="cards page">
             {% include 'user_info_side_right.html' %}
                <div class="mian-container r">
                    <div class="blk-1x"></div>
                    <div class="img-box">
                        <div class="nav_identity">
                            <ul>
                                <li class="tab_identity"><a href="javascript:void(0)">个人认证</a></li>
                                <li class="tab_cfc"><a href="javascript:void(0)">理财师认证</a></li>
                                <ul>
                                </ul>
                            </ul>
                        </div>
                        <section class="img-section">
                            <div class="identity-box">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file">
                                        <img src="images/id.png" class="add-img"/>
                                        <input type="file" name="file-pre" id="tag1-file1" class="file" value=""
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple=""/>
                                    </section>
                                </div>
                            </div>
                            <div class="identity-box">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file">
                                        <img src="images/id.png" class="add-img"/>
                                        <input type="file" name="file-pre" id="tag2-file1" class="file" value=""
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple=""/>
                                    </section>
                                    <section class="z_file">
                                        <img src="images/workers-card.png" class="add-img"/>
                                        <input type="file" name="file-empIDCard" id="tag2-file2" class="file" value=""
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple=""/>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="blk-3x"></div>
                    <div class="identity-btn">
                        <a href="javascript:void(0)" class="btn btn-primary" onclick="submit()">提交</a>
                    </div>
                    <div class="blk-1x"></div>
                    <aside class="mask works-mask">
                        <div class="mask-content">
                            <p class="del-p">您确定要删除图片吗？</p>
                            <p class="check-p"><span class="wsdel-no">取消</span><span class="del-com wsdel-ok">确定</span></p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% if session.get('userinfo')['id']==view_user_info.id %}
{% include 'user_info_modify.html' %}
{%endif%}
{% include 'commons/footer.html' %}
<script src="../lib/js/imgup.js"></script>
<script>
    var auth_person_status = {{auth_person_status}};
    var person_status_desc = '个人认证';
    var auth_finance_status = {{auth_finance_status}};
    var finance_status_desc = '理财师认证';
    var activeBox = 0;
    var perBox = -1;
    var finBox = -1;
    if(auth_person_status!=0){
        perBox = 0;
        if(auth_person_status==1){
            person_status_desc += '正在审核中!';
            $('li.tab_cfc>a').addClass('text-muted').unbind('mouseenter').unbind('mouseleave');
        }else if(auth_person_status==2){
            person_status_desc += '审核通过!';
        }else if(auth_person_status==3){
            person_status_desc += '审核未通过!<a class="person" onClick="reapply(this)" href="javascript:void(0)">重新申请</a>';
        }
        person_status_desc='<div class="desc text-center">'+person_status_desc+'<div>'
        $('div.identity-box').eq(perBox).find('.z_photo').hide();
        $('div.identity-box').eq(perBox).append(person_status_desc);
        $('div.identity-btn').hide();
    }
    if(auth_finance_status!= 0){
        finBox = 1;
        if(auth_finance_status==1){
            finance_status_desc += '正在审核中!';
            if(auth_person_status==0){
                $('li.tab_identity>a').addClass('text-muted');
            }
        }else if(auth_finance_status==2){
            finance_status_desc += '审核通过!';
            if(auth_person_status==0){
                $('li.tab_identity>a').addClass('text-muted');
            }
        }else if(auth_finance_status==3){
            finance_status_desc += '审核未通过!<a class="finance" onClick="reapply(this)" href="javascript:void(0)">重新申请</a>';
        }
        finance_status_desc = '<div class="desc text-center">'+finance_status_desc+'<div>';
        $('div.identity-box').eq(finBox).find('.z_photo').hide();
        $('div.identity-box').eq(finBox).append(finance_status_desc);
        $('div.identity-btn').hide();

    }
    //初始化页面
    if(perBox==0){
        activeBox == perBox;
    }else if(finBox==1){
        activeBox == finBox;
    }
    $('.identity-box').eq(activeBox).show();
    $(".nav_identity li a").eq(activeBox).addClass('activeTag');
    //重新申请
    function reapply(obj){
        var cl = $(obj).attr('class')=='person'?0:1;
        $('.identity-box').eq(cl).find('div.desc').remove();
        $('.identity-box').eq(cl).find('.z_photo').show();
        if(cl==1){
            if(auth_person_status==2){
                 $('section.z_file').eq(0).hide();
            }
            auth_finance_status= 0;
        }else{
            auth_person_status = 0;
        }
        $('div.identity-btn').show();
    }

    // tab 切换
    $(".nav_identity li a").click(function(){
        // p-(审核中）|| p-未认证,f-审核中
        if(auth_person_status==1 || auth_person_status==0&&(auth_finance_status==1 || auth_finance_status==2)){
        }else{
            $('.identity-box').hide();
            var num =$(".nav_identity li").index($(this).parent());
            $('.identity-box').eq(num).show().siblings().hide();
            $(this).addClass('activeTag').parent().siblings().find('a').removeClass('activeTag');
            activeBox = num;
            $('div.message').text('');
        }
        if(num==0 && auth_person_status==0 || num==1 && auth_finance_status==0){
            $('div.identity-btn').show();
        }else{
            $('div.identity-btn').hide();
        }
        if(auth_person_status==2){
            if(num==1){
                $('.identity-box').eq(activeBox).find('section.z_file').eq(0).hide();
            }
        }
    });

    //提交
    function submit () {
        var data = {};
        var $container = $('.identity-box').eq(activeBox);
        var filePre = $container.find('img.up-img[name="file-pre"]');
        if(auth_person_status!=2){
            if(filePre.length==0){
                sweetInfo({text:'请上传身份证正面照片!',type:'info'});
                return;
            }else{
                data['identity_pre_img'] = getBase64Image(filePre[0]);
            }

        }

        if(activeBox==1){
            var fileEmpIDCard = $('.identity-box').eq(activeBox).find('img.up-img[name="file-empIDCard"]');
            if(fileEmpIDCard.length==0){
                sweetInfo({text:'请上传工牌照片!',type:'info'});
                return;
            }
            data['employee_card_img'] = getBase64Image(fileEmpIDCard[0]);
        }
        data['auth_type'] = activeBox+1;
        var url='/do_user_auth'
        $.ajax(url,{
            type: 'post',
            data:data,
            timeout:5000,
            dataType:'json',
            success:function(data){
                if(data.code==0){
                    $('div.identity-box').eq(activeBox).find('.z_photo').empty().text('上传成功，正在等待审核！')
                    $('div.identity-btn').hide();
                    if(activeBox==0){
                        auth_person_status = 1;
                        $('li.tab_cfc>a').addClass('text-muted');
                    }else{
                        auth_finance_status = 1;
                        $('li.tab_identity>a').addClass('text-muted');

                    }
                }
            },
            error:function(data){
                console.log('上传失败！')
            }
        })

    }
    //图片转base64
    function getBase64Image(img) {
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, img.width, img.height);
        var dataURL = canvas.toDataURL("image/png");
        return dataURL;
    }
</script>
</body>
</html>
<style type="text/css">
.mian-container.r {
    width: 70%;
    padding: 0 0 30px 50px;
    border: 0;
    border-left: 1px solid #ededed;
}
</style>