<div class="side-container l">
    {% if view_user_info %}
     {% include 'user_info_header.html' %}
    <ul class="list-menu list-unstyled">
        <li id="li_post"><a href="/user_info_post?type=1&user_id={{view_user_info.id}}"><i class="icon-post"></i>已发帖</a></li>
        <li id="li_community_create"><a href="user_info_community_create?user_id={{view_user_info.id}}"><i class="icon-owner"></i>创建的岛</a></li>
        <li id="li_community_join"><a href="user_info_community_join?&user_id={{view_user_info.id}}"><i class="icon-join"></i>加入的岛</a></li>
        <li id="li_friend"><a href="user_info_friend?&user_id={{view_user_info.id}}"><i class="icon-users"></i>好友</a></li>
        {% if session.get('userinfo')['id']==view_user_info.id %}
        <li id="li_user_auth"><a href="user_auth?&user_id={{view_user_info.id}}"><i class="icon-v-certification"></i>用户认证</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
<script type="text/javascript" >
    {% if user_info_type %}
        {% if user_info_type == 'post' %}
        document.getElementById('li_post').className="active";
        {% elif user_info_type == 'community_create' %}
        document.getElementById('li_community_create').className="active";
        {% elif user_info_type == 'community_join' %}
        document.getElementById('li_community_join').className="active";
        {% elif user_info_type == 'friend' %}
        document.getElementById('li_friend').className="active";
        {% elif user_info_type == 'auth'%}
        document.getElementById('li_user_auth').className="active";
        {% endif %}
    {% endif %}
</script>
<style>
.my-header .block-bar .btn {
    width: 86px;
}
.page {
    border-bottom:1px solid #ededed;
}
</style>