<div id="my_header" class="my-header">
    {% if view_user_info and session.get('userinfo') and session.get('userinfo')['id']==view_user_info.id %}
    <div class="img im">
        <a href="#photo" data-toggle="modal">
            <img src="{{view_user_info.head_img_url}}">
            <input name="from" type="hidden" value="user">
        </a>
    </div>
    {% else %}
    <div class="img">
        <a href="javascript:void(0)"><img src="{{view_user_info.head_img_url}}"></a>
    </div>
    {% endif %}
    <div class="content">
        <div class="edit-bar">
            <h4 id="h_user_name">
            <span>
                {{view_user_info.name}}
            </span>
            </h4>
            {% if view_user_info and session.get('userinfo') and session.get('userinfo')['id']==view_user_info.id %}
            <a href="#modal-user" class="edit" data-toggle="modal"><i class="icon-edit"></i></a >
            {% endif %}
            {% if view_user_info.is_approve==1 %}
            <span title="个人认证" class="mark-i v"><i class="icon-v"></i></span>
            {%endif%}
            {% if view_user_info.is_approve==2 %}
            <span title="个人认证" class="mark-i v"><i class="icon-v"></i></span>
                {% if view_user_info.shop_url%}
                <a title="理财店铺" href="{{view_user_info.shop_url}}"><span class="mark-i"><i class="icon-shopping"></i></span></a >
                {%endif%}
                {% if not view_user_info.shop_url%}
                <a title="理财店铺" href="javascript:void(0)"><span class="mark-i"><i class="icon-shopping"></i></span></a >
                {%endif%}
            {%endif%}
        </div>
            <p><span class="m-r-5">关注</span><b>{{view_user_info.attention_num}}</b><span class="m-l-5 m-r-5">粉丝</span><b class="fans_num">{{view_user_info.by_attention_num}}</b></p>
            <p id="p_user_label">
                {% if view_user_info.label%}
                {{view_user_info.label}}
                {%endif%}
            </p>
        </div>
        {% if view_user_info %}
        <div id="user_info_right_control" class="block-bar">
        {% if not session.get('userinfo') or session.get('userinfo')['id']!=view_user_info.id %}
             <a id="a_follow" href="javascript:void()" class="btn btn-primary" onclick="add_relation()">
                <i>+</i>关注
             </a>
        {% endif %}
        {%if session.get('userinfo') and session.get('userinfo')['id']!=view_user_info.id %}
         <span class="offset-1x" id="span_chat">
        <a id="chat" href="javascript:void(0)" class="btn btn-primary">交流</a>
        </span>
        {% endif %}
        </div>
    {% endif %}
</div>
{% if view_user_info and session.get('userinfo') and  session.get('userinfo')['id']==view_user_info.id %}
{% include 'commons/upload_image.html'%}
{%endif%}
<script type="text/javascript">
var user_id =0;
getLoginInfo();
var view_user_info_id = {{ view_user_info.id}};
var view_user_info_name = '{{ view_user_info.name}}';
function getLoginInfo(){
    {% if session.get('userinfo')%}
        user_id = {{session.get('userinfo')['id']}};
    {%endif%}
}
$('#chat').click(function(){
    if(user_id>0){
        window.open('/private_message?to_user_id='+{{view_user_info.id}})
    }else{
        sweetInfo({text:'登录后才能交流哦!',type:'info'});
    }
})
</script>
{% if view_user_info %}
<script type="text/javascript">
 $('a[href="#photo"]').click(function(){
    var upload_type =  $(this).find('input').val();
    $('div#photo').find('input[name="from"]').val(upload_type);
  })
    function add_relation(){
        {% if session.get('userinfo') and  session.get('userinfo')['id']!=view_user_info.id %}
            $.ajax({
                 type:'POST',
                 url:'/add_relation',
                 data:{
                     relation_user_id:{{view_user_info.id}},
                     is_relation:0
                 },
                 dataType:'json',
                 success:function(data) {
                    var fans_num = $('b.fans_num').text();
                    $('b.fans_num').text(parseInt(fans_num)+1);
                    select_relation();
                 },
                 error:function(xhr,type){
                     console.log('操作失败!')
                 }
            })
     {% else %}
        sweetInfo({text:'登录后才能关注哦!',type:'info'});
     {% endif %}
    }

</script>
{% endif %}
{% if view_user_info and session.get('userinfo') and  session.get('userinfo')['id']!=view_user_info.id %}
<script type="text/javascript">
    function cancel_relation(){
        if({{session.get('userinfo')['id']}}>0){
            $.ajax({
                 type:'POST',
                 url:'/cancel_relation',
                 data:{
                    user_id:{{session.get('userinfo')['id']}},
                    relation_user_id:{{view_user_info.id}}
                 },
                 dataType:'json',
                 success:function(data) {
                    var fans_num = $('b.fans_num').text();
                    $('b.fans_num').text(parseInt(fans_num)-1);
                    select_relation();
                 },
                 error:function(xhr,type){
                     console.log('操作失败!')
                 }
             })
        }
    }
    function select_relation(){
        if({{session.get('userinfo')['id']}}>0){
             $.ajax({
                    type:'POST',
                    url:'/select_relation',
                    data:{
                        user_id:{{session.get('userinfo')['id']}},
                        relation_user_id:{{view_user_info.id}}
                    },
                    async:false,
                    dataType:'json',
                    success:function(data) {
                        if(data.is_relation==1){
                             document.getElementById("a_follow").innerHTML="取消关注";
                             document.getElementById("a_follow").onclick=function(){cancel_relation()};
                        } else {
                            document.getElementById("a_follow").innerHTML="<i>+</i>关注";
                            document.getElementById("a_follow").onclick=function(){add_relation()};

                        }
                    }
             })
        }
        return true;
    }
    select_relation();
</script>
{% endif %}
