<link href="lib/css/cropper/cropper.css" rel="stylesheet">
<link href="lib/css/cropper/main.css" rel="stylesheet">
<script src="lib/js/cropper/cropper.min.js"  type="text/javascript"></script>
<script src="lib/js/cropper/main.js"  type="text/javascript"></script>
 <div class="modal modal-book-content" id="photo" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-md">
        <div class="modal-content radius-none"><a class="close" aria-hidden="true" type="button"
                                                  data-dismiss="modal">×</a>
            <div class="modal-body clearfix relative">
                <ul class="base-tab list-unstyled text-center">
                    <li class="active"><a href="#m1" data-toggle="tab">本地上传</a></li>
                    <li><a href="#m2" data-toggle="tab">系统图片</a></li>
                </ul>
                <div class="photo-container tab-pane active" id="m1">
                    <div style="padding: 0px; text-align: center;">
                       <div class="modal-content" >
                         <form class="avatar-form" action="/upload_head_image" enctype="multipart/form-data" method="post">
                        <div class="">
                          <div class="avatar-body">
                              <!-- Loading state -->
                            <!--<div class="loading" aria-label="Loading" tabindex="-1"></div>-->
                            <!-- Upload image and data -->
                            <div class="avatar-upload" style="text-align:left;">
                              <input class="avatar-src" name="avatar_src" type="hidden">
                              <input class="avatar-data" name="avatar_data" type="hidden">
                              <!--<label for="avatarInput">选择图片</label>-->
                              <input class="avatar-input hide"  id="avatarInput"  name="avatar_file" type="file">
                              <button class="btn btn-default"  id="choose" type="button">选择图片</button>
                                <span style="font-size:12px;">支持jpg、jpeg、gif、png格式的图片</span>

                            </div>
                            <!-- Crop and preview -->
                            <div class="row">
                              <div class="col-md-9">
                                <div class="avatar-wrapper">
                                </div>
                              </div>
                                <div class="preview col-md-3">
                                    <label>预览</label>
                                    <div class="avatar-preview preview-lg"></div>
                                    <p class="image-desc lg">80*80</p>
                                    <div class="avatar-preview preview-md"></div>
                                    <p class="image-desc md">50*50</p>
                                    <!--<div class="avatar-preview preview-sm"></div>-->
                                    <!--<p class="image-desc">30*30</p>-->
                              </div>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </form>
                       </div>
                    </div>
                </div>
                <div class="photo-container tab-pane" id="m2">
                    <div class="photo-list">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="justified2-2">
                    <li>
                        <button id="cancel"  class="btn btn-default btn-lg btn-block" data-dismiss="modal" >取消</button>
                    </li>
                    <li>
                        <button id="save" class="btn btn-primary btn-lg btn-block">确定</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
